{embed ="framework_2/doc_head" title="Terms of Service"}
{embed="framework_2/navigation" section="terms-of-service"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">

                <h3 class="recent_shows">Terms of Service</h3>

                <h3 class="terms">1. Terms</h3>

                <p>Your access to this website is conditional upon your acceptance of and compliance with all terms, conditions, notices and disclaimers contained in this disclaimer notice and anywhere else in the website ('the Terms'). Your access to the website constitutes your agreement to the Terms. Truth News Australia (TNA) reserves the right to change the Terms at any time, and you should check them from time to time for that reason.</p>

                <h3 class="terms">2. Disclaimer</h3>

                <p>All data and information provided on this website is for informational purposes only. TNA makes no representations as to accuracy, completeness, currentness, suitability, or validity of any information on this site and will not be liable for any errors, omissions, or delays in this information or any losses, injuries, or damages arising from its display or use. All information is provided on an as-is basis without express or implied warranty of any kind.</p>

                <p>TNA disclaims (to the full extent allowable by law), all warranties with regard to this information, including any advertisements, including all implied warranties as to merchantability or fitness for use.</p>

                <p>Any 3rd party content published on this website, including but not limited to, audio material, user comments and advertising, does not necessarily reflect the views and opinions of TNA.</p>

                <p>3rd party comments on this website are not moderated, however TNA reserves the right, at its sole discretion, to delete comments which are deemed inappropriate or off-topic.</p>

                <p>TNA does not warrant that this website will be uninterrupted or error-free.</p>

                <p>Although this website may include links providing direct access to other Internet resources, including websites, TNA is not responsible for the accuracy or content of information contained in these sites.</p>

                <p>Links from this website to third-party sites do not constitute an endorsement by TNA of the parties or their products and services. The appearance on the website of advertisements and product or service information does not constitute an endorsement by TNA, and TNA has not investigated the claims made by any advertiser. Product information is based solely on material received from suppliers.</p>

                <h3 class="terms">3. Take down requests</h3>

                <p>If you object to anything published on this website for any legally valid reason, you should contact the website administrator using the <a href="{path=contact}">Contact</a> page, providing all relevant information and links to enable us to assess your complaint.</p>


                <h3 class="terms">4. Commenting and forum participation guidelines</h3>

                <p>Your use of 3rd party commenting and forum discussion features provided on the website constitutes your agreement that you will not, while doing so:</p>

                <ul>
                    <li>Post or transmit any illegal, threatening, abusive, defamatory, obscene, pornographic or indecent information or material of any kind, or any material in contempt of any court or parliament, or encourage any other person to do so.</li>
                    <li>Post or transmit any material which itself, or in a manner which, violates or infringes upon the rights of any other person, including privacy, performance, moral or copyrights unless you have first obtained the express permission of the relevant right holder.</li>
                    <li>Knowingly post or transmit or permit the posting or transmission of any material, which contains a computer virus.</li>
                </ul>

                <h3 class="terms">5. Indemnity</h3>

                <p>TNA accepts no responsibility for your actions if you act contrary to any of these Terms, and you agree by accessing this website to indemnify and hold harmless TNA and its employees, officers, agents and contractors from and against all actions, proceedings, suits, claims and demands brought or made against TNA by any person arising from or in consequence of such an action, and from and against any damage, loss, cost or expense suffered or incurred by TNA as a direct or indirect consequence thereof.</p>

            </div>
        </div>

        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}