<meta property="og:title" content="{embed:title}"/>
<meta property="og:type" content="website"/>
{if embed:url}
<meta property="og:url" content="{embed:url}"/>
{if:else}
<meta property="og:url" content="http://www.truthnews.com.au"/>
{/if}
<meta property="og:image" content="http://www.truthnews.com.au/storage/banners/tnra_small_logo.jpg"/>
<meta property="og:site_name" content="{site_name}"/>
<meta property="fb:app_id" content="{fb_app_id}"/>
<meta property="og:description" content="{exp:xml_encode}{embed:description}{/exp:xml_encode}"/>
{!--
<meta property="og:author" content="Truth News Australia"/>
--}


