{embed="framework_2/doc_head_ssl" title="Donate to Truth News Australia"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header_subscribe"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">Donate to Truth News Australia</h3>

                <p class="lead">Any donation, however small, is greatly appreciated!</p>
                
                {exp:tna_commerce:donate}
               

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col_subscribe"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot_ssl"}