{embed ="framework_2/doc_head_ssl" url="{site_url}donate" description="" title="Donation Received"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header_subscribe"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <a name="subscribe_form" ></a>
                <h3 class="recent_shows">Donation Received</h3> 
                
                <p class="lead">Your donation has been received. Thank you for your support!</p>
                
                {!--
                {exp:tna_commerce:donation action="donate_success"}
                --}
            </div>

        </div>
       <div class="col-md-3 col-lg-4">{embed="framework_2/right_col_subscribe"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer_ssl"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot_ssl"}

