<div class="col-md-9 col-lg-8 top_banner visible-md visible-lg">
    <iframe scrolling="no" class="subscribe_iframe" id="subscribe_banner_css_3" width="728" height="90" src="/storage/banners/subscribe_01/"></iframe>
    <div id="subscribe_banner_legacy"><a href="{site_url}subscribe"><img alt="Subscribe to TNRA"  src="{site_url}storage/images/framework/subscribe_now_728X90.png"/></a></div>
</div>
<div class="col-md-9 col-lg-8 top_banner visible-sm visible-xs">
    {embed=ad_zones/subscribe_banner_static}
</div>


