{embed ="framework_2/doc_head" meta_refresh="0;url=http://www.truthnews.com.au/web/radio/download2/{segment_3}" description="mp3 download page" title="TNRA: Download {segment_3}.mp3"}


<div id="container">

{embed="framework/header"}

{embed ="framework_2/navigation"}

<div id="main">
    <h2 style="line-height:40px; font-size:40px; margin-top:30px; color:red;">Your download will begin in a moment...</h2>  
    <p>If your download doesn't start automatically in about 10 seconds, you can access the file directly 
       <a style="text-decoration:underline;" href="http://www.truthnews.com.au/radio/export/{segment_3}.mp3">here<a/>.

</div>


     
     {embed="framework_2/right_col"}
     
     {embed="framework_2/footer"}

</div>
{embed ="framework_2/doc_foot"}