{embed="framework_2/doc_head" url="{site_url}radio/listen" description="Listen to our show live every week on Logos Radio Network or call in to make your voice heard! AUSTRALIA
CALL: 1300 153 372 US CALL: 512 646-1984" title="Listen to the TNRA LIVE STREAM!" listen_live="yes"}

{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <div class="fb-like" data-href="{site_url}radio/listen" data-width="280" data-show-faces="true" data-send="true"></div>
                {!--
                <div class="add_this">{embed=framework/add_this add_this_url="{site_url}radio/listen"}</div>
                --}

               <h2 style="color:red;">Listen to the Live Stream or Call In!</h2>

                    <ul class="live_show_call_in_numbers lead">

                        <li><strong>US:</strong> 512 646-1984 (Wednesdays 8-10pm CST)</li>
                        <li><strong>AUSTRALIA:</strong> 1300 153 372 (<a
                                href="http://www.timeanddate.com/worldclock/converted.html?iso=20130925T20&p1=24&p2=240">Check Your
                            Timezone</a>)</li>

                        <li>For more information please visit <a href="http://www.logosradionetwork.com">LogosRadioNetwork.com</a></li>

                    </ul>


                <h3 style="margin-top:20px;" class="recent_shows">Listen with the Embedded Player</h3>
                    <div class="logos_player">{embed="radio/logos_player"}</div>
                    <p style="text-align:center;"><strong>Note:</strong> If the embedded player doesn't work, try one of the other options listed below.</p>

                <h3 style="margin-top:20px;" class="recent_shows">Listen with a Smartphone App</h3>
                <div class="lead">
                <p>You can install an app your phone or tablet which will alow you to listen to the <a href="http://mp3.logosradionetwork.com/listen.pls">SHOUTcast</a> feed.</p>

                <p>We have tested the following apps:</p>

                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.streamfurious.android.free&hl=en" target="_blank">StreamFurious (Android)</a></li>
                    <li><a href="https://itunes.apple.com/us/app/shoutcast-radio/id299647180?mt=8" target="_blank">SHOUTcast Radio (iOS/iTunes)</a></li>
                </ul>

                <p>Once you have installed the app, follow this link: <br/>
                    <a href="http://mp3.logosradionetwork.com/listen.pls">http://mp3.logosradionetwork.com/listen.pls</a>.<br/>
                    Your installed app should automatically start playing the audio stream. If you're having problems, please <a href="{site_url}contact">contact us</a>.
                </p>

                <p>For more information and options, please visit the <a href="http://www.shoutcast.com/">SHOUTcast website</a>.</p>
                </div>
                <h3 style="margin-top:20px;" class="recent_shows">Listen on Your Desktop</h3>
                <div class="lead">
                <p>You can listen to the Logos Radio SHOUTcast feed using the <a href="http://www.winamp.com/">Winamp media player</a> on both Mac and PC.</p>

                <p>Alternately you may use the following links if you have the specified player:</p>
                <ul>
                    <li><a href="http://mp3.logosradionetwork.com/listen.ram" target="_blank">Real Media Player</a></li>
                    <li><a href="http://mp3.logosradionetwork.com/listen.asx" target="_blank">Windows Media Player</a></li>
                </ul>
                </div>


            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}