{embed="framework_2/doc_head" url="{site_url}radio/listen" description="Listen to our show live every week on Logos Radio Network or call in to make your voice heard! AUSTRALIA CALL: 1300 153 372 US CALL: 512 646-1984" title="Listen to the TNRA LIVE STREAM!"}

{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <div class="fb-like" data-href="{site_url}radio/listen" data-width="280" data-show-faces="true" data-send="true"></div>
                <div class="add_this">{embed=framework/add_this add_this_url="{site_url}radio/listen"}</div>

               <h2 style="color:red;">Listen to the Live Stream or Call In!</h2>

                    <ul class="live_show_call_in_numbers lead">

                        <li><strong>AUSTRALIA:</strong> 1300 153 372 (<a
                                href="http://www.timeanddate.com/worldclock/converted.html?iso=20130925T20&p1=24&p2=240">Check Your
                            Timezone</a>)</li>
                        <li><strong>US:</strong> 512 646-1984 (Wednesdays 8-10pm CST)</li>

                        <li>For more information please visit <a href="http://www.logosradionetwork.com">LogosRadioNetwork.com</a></li>

                    </ul>


                <h3 style="margin-top:20px;" class="recent_shows">Choose Your Player</h3>

                <ul>
                    <li>Winamp (& some other players): <a href="http://mp3.logosradionetwork.com/listen.pls" target="_blank">Listen Now</a></li>
                    <li>Real Media Player: <a href="http://mp3.logosradionetwork.com/listen.ram" target="_blank">Listen Now</a></li>
                    <li>Windows Media Player: <a href="http://mp3.logosradionetwork.com/listen.asx" target="_blank">Listen Now</a></li>
                </ul>



            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}