{embed ="framework/doc_head" description="Logos Radio Network Stream" title="Logos Radio Network Stream"}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="radio"}


	<div id="main">
         
         <div class="article_container">
 <div class="listen">

				<h2>Listen to TNRA live on the Logos Internet Stream</h2>
				
<div class="logos">		
				  {!-- <h2 style="color:red; font-size: 1.7em;">Live Transmission!</h2> --}
  <div style="margin-top:10px; text-align:center;"><a href="http://www.logosradionetwork.com/">
  <img src="http://www.truthnews.com.au/storage/images/framework/logos_logo.jpg" alt="Logos Radio Network" /></a></div>
  
     <table style="font-family: verdana; margin:10px 0px auto; font-weight:bold; font-size: 12px;">
      <tr>
        <td style="color:red;" align="right">US:</td><td style="color:white;" align="left">Wednesdays 8-10pm CST</td>
      </tr>
      <tr>
        <td style="color:red;" align="right">Australia:</td><td style="color:white;" align="left">Thursdays 11-1pm AEST</td>
      </tr>
    </table>
</div>
<div class="call_in">
<h2>Live Show Call In Numbers</h2>
<ul>

<li><strong>AUSTRALIA:</strong> 1300 153 372</li>
<li><strong>US:</strong> 512 646-1984</li>

</ul>
<p>For more information please visit <a href="http://www.logosradionetwork.com">LogosRadioNetwork.com</a></p>
</div>	





		
				
				<ul class="listen_options">
					<li>Winamp (& some other players): <a href="http://mp3.logosradionetwork.com/listen.pls" target="_blank">Listen Now</a>
					</li>
					<li>
						Real Media Player: <a href="http://mp3.logosradionetwork.com/listen.ram" target="_blank">Listen Now</a>
					</li>
					<li>
						Windows Media Player: <a href="http://mp3.logosradionetwork.com/listen.asx" target="_blank">Listen Now</a>
					</li>
				</ul>
				
</div>

		</div>
         {embed="ad_zones/banner"}
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}