{embed ="framework/doc_head" description="Logos Radio Network Stream" title="Logos Radio Network Stream"}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="radio"}


	<div id="main">
         
         <div class="article_container">

				<h2>LIVE 64K For High Speed Internet</h2>
				<ul>
					<li>Winamp (& some other players): <a href="http://mp3.logosradionetwork.com/listen.pls" target="_blank">Listen Now</a>
					</li>
					<li>
						Real Media Player: <a href="http://mp3.logosradionetwork.com/listen.ram" target="_blank">Listen Now</a>
					</li>
					<li>
						Windows Media Player: <a href="http://mp3.logosradionetwork.com/listen.asx" target="_blank">Listen Now</a>
					</li>
				</ul>

		</div>
         {embed="ad_zones/banner"}
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}