opengateway/system/opengateway/config/config.php
storage/images/*.*
slideshowpro/app/tmp/*
slideshowpro/album-audio/
slideshowpro/albums/
slideshowpro/xml_cache/*
slideshowpro/config/conf.php
slideshowpro/api/classes/cache/*
ee/expressionengine/cache/
logs/
mail/
radio/
eWay/
git-deploy/
.htaccess
ee/expressionengine/config/config.php
ee/expressionengine/config/database.php
storage/images/_thumbs/
storage/images/cms/
storage/images/framework/carousel/
storage/images/video_images/
robots.txt
/includes/mailchimp-api-php/nbproject/private/
includes/mailchimp/