  {embed ="framework/doc_head" description="Schapelle Corby: How a government wilfully withheld vital evidence from a court of law, deceived its public, orchestrated an unprecedented media campaign, and ruthlessly deployed its organs of state against one of its own citizens." title="Expendable - The Movie"}


<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="home"}


	<div id="main">
<div class="article_container">
         <h2 class="channel_title" style="color:#990015;">Expendable</h2>

<h2 style="font-size:2.0em; margin-top:20px;" class="channel_title">{embed:title}</h2>
         <div id='mediaspace_expendable'>This text will be replaced</div>
 
<script type='text/javascript'>
 
    load_video_player_object_generic('expendable','http://www.truthnews.com.au/storage/media/video/Expendable_Schapelle_Corby.wmv')
</script>

{!--
{embed="framework/music_item" title="{segment_3}" unique_id="a_change_gonna_come" path="storage/media/music/{segment_3}"}
--}
        
</div>
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}