{embed ="framework/doc_head" title="RSS Feeds"}
<div id="container">
	{embed="framework/header"}
	{embed ="framework/navigation"}

	<div id="main">
           	<div id="main" style="border-style:none; width:auto;">
         <h2>RSS Feeds</h2>
         <p style="font-weight:bold;">If you have trouble subscribing to our service please <a href="http://www.truthnews.com.au/web/contact">contact</a> us and we will do whatever we can to help. 
         <ul style="font-size:16px;">
         <li><a href="{site_url}web/feeds/itunes.xml">iTunes Feed</a> (includes only the article posts with audio enclosures)</li>
         <li><a href="{site_url}web/feeds/tna.rss2">RSS 2 Feed</a> (includes all article posts)</li>
        
         </ul>
	</div>

	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}



