{exp:channel:entries limit="1" entry_id="{embed:entry_id}" cache="yes" refresh="5"}
   
    <item>
      <title>{exp:xml_encode}{title}{/exp:xml_encode} {if media_segments > 1}- Part 1{/if}</title>
      <link>{site_url}web/radio/story/{url_title}</link>
      <guid>{site_url}web/radio/story/{url_title}#When:{gmt_entry_date format="%H:%i:%sZ"}</guid>
      <description>{exp:xml_encode}{body_rich}{/exp:xml_encode}</description>
      {if media_date}
         {embed=feeds/rss_media_enclosure segment="1" media_segments="{media_segments}" media_date="{media_date}" media_source="{media_source}"}
      {/if}
      <dc:subject>{exp:xml_encode}{categories backspace="1"}{category_name}, {/categories}{/exp:xml_encode}</dc:subject>
      <dc:date>{gmt_entry_date format="%Y-%m-%dT%H:%i:%s%Q"}</dc:date>
    </item>

    {if media_segments > 1}
       
      <item>
      <title>{exp:xml_encode}{title}{/exp:xml_encode} - Part 2</title>
      <link>{site_url}web/radio/story/{url_title}</link>
      <guid>{site_url}web/radio/story/{url_title}#2</guid>
      <description>Part 2 of {exp:xml_encode}{title}{/exp:xml_encode}</description>
      {if media_date}
         {embed=feeds/rss_media_enclosure segment="2" media_segments="{media_segments}" media_date="{media_date}" media_source="{media_source}"}
      {/if}
      <dc:subject>{exp:xml_encode}{categories backspace="1"}{category_name}, {/categories}{/exp:xml_encode}</dc:subject>
      <dc:date>{gmt_entry_date format="%Y-%m-%dT%H:%i:%s%Q"}</dc:date>
      </item>
    {/if}

    {if media_segments > 2}
       
      <item>
      <title>{exp:xml_encode}{title}{/exp:xml_encode} - Part 3</title>
      <link>{site_url}web/radio/story/{url_title}</link>
      <guid>{site_url}web/radio/story/{url_title}#3}</guid>
      <description>Part 3 of {exp:xml_encode}{title}{/exp:xml_encode}</description>
      {if media_date}
         {embed=feeds/rss_media_enclosure segment="3" media_segments="{media_segments}" media_date="{media_date}" media_source="{media_source}"}
      {/if}
      <dc:subject>{exp:xml_encode}{categories backspace="1"}{category_name}, {/categories}{/exp:xml_encode}</dc:subject>
      <dc:date>{gmt_entry_date format="%Y-%m-%dT%H:%i:%s%Q"}</dc:date>
      </item>
    {/if}
{/exp:channel:entries}