{embed="framework_2/doc_head"}


<div class="container main_box">

	{embed="framework_2/header"}

	{embed ="framework_2/navigation" section="home"}


    <div class="row">

        <div class="span8">



            {embed="framework_2/latest"}

            {embed="framework_2/listen_banner"}

            {embed="ad_zones/leaderboard_internal"}


            {embed="framework/news_channel" channel="tna|tna_news|911oz" search="" limit="10"}



        </div>




        <div class="span4">{embed="framework_2/right_col"}</div>

    </div> <!-- /row -->

     {embed="framework/footer"}

</div> <!-- /container -->

{embed ="framework/doc_foot"}
