{embed="framework_2/doc_head"}

<div class="container main_box">

    {embed="framework_2/header"}

    {embed="framework_2/navigation" section="home"}


    <div class="row">

        <div class="col-md-9 col-lg-8">

            {embed="framework_2/latest"}

            {embed="framework_2/listen_banner"}




            <div class="col-lg-7 visible-md">
                {!-- <a href="{site_url}subscribe"> --}
                {!--
                <iframe src='/storage/banners/TNRA_banner_1/TNRA_banner_1.html' width='500' style='margin-top:10px; border: 0px;' scrolling="no"></iframe>
                --}
                {!--
                <div id="Stage" class="EDGE-460776">
                </div>
                --}
            </div>

            {embed="framework_2/news_channel" channel="tna|tna_news|911oz" search="" limit="5"}




        </div>


        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>

    </div> <!-- /row -->

    {embed="framework_2/footer"}


</div> <!-- /container -->

{embed ="framework_2/doc_foot"}
