{embed="framework_2/doc_head"}

<div class="container visible-xs">
    <div class="tnra_banner_small ">
        <iframe frameborder="0" src="/storage/banners/TNRA_iframe_banner/TNRA_banner_1.html" height="47" width="320" scrolling="no"></iframe>
    </div>
</div>

<div class="container main_box">

    {embed="framework_2/header"}

    {embed="framework_2/navigation" section="home"}
{!--
    <div class="row visible-xs tnra_banner_small">
        <div class=col-lg-12">
          <div>
          <div id="Stage_2" class="EDGE-460777"></div>
          </div>
        </div>
    </div>
--}



    <div class="row">

        <div class="col-md-9 col-lg-8">

            {embed="framework_2/latest"}

            {embed="framework_2/listen_banner"}

            {embed="framework_2/news_channel" channel="tna|tna_news|911oz" search="" limit="5"}

        </div>


        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>

    </div> <!-- /row -->

    {embed="framework_2/footer"}


</div> <!-- /container -->

{embed ="framework_2/doc_foot"}
