{embed="framework_2/doc_head"}
{if "{exp:tna_utils:is_platform type='phone'}" == 1}
  <div class="container visible-xs">
    <div class="tnra_banner_small">
        <iframe style="margin: 0px auto;" scrolling="no" frameborder="0" seamless src="/storage/banners/TNRA_banner_1/web.html" height="47" width="320" ></iframe>
    </div>
  </div>
{/if}



<div class="container main_box">

    {embed="framework_2/header"}

    {embed="framework_2/navigation" section="home"}

    <div class="row">

        <div class="col-md-9 col-lg-8">
            {embed="framework_2/latest"}
            {embed="framework_2/listen_banner"}
            {embed="framework_2/news_channel" channel="tna|tna_news|911oz" search="" limit="5"}
        </div>


        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>

    </div> <!-- /row -->

    {embed="framework_2/footer"}


</div> <!-- /container -->

{embed ="framework_2/doc_foot"}
