{if "{exp:tna_subscriber}" == ''}
    <div class="modal fade" id="subscribe_lightbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"><strong>Welcome to Truth News Australia</strong></h4>
          </div>
          <div class="modal-body">
            <img style="float:left; border:1px solid black; margin:4px 10px 2px 0px;" src="/storage/images/framework/hereward_icon_thumb_06.jpg" alt="Hereward Fenton" title="Hereward Fenton">
            <p>Hi, this is Hereward Fenton, founder of <strong>Truth News Australia</strong>.</p>
            <p>Thanks for visiting our website! Please read the <a href="{path=terms-of-service}">Terms of Service</a> before continuing.</p>
              <p>If you would like to support our work, please consider becoming a subscriber. You can <a href="{path=subscribe}">subscribe</a> for an annual fee of AU $65 or $35 concession.</p>
              <p>Alternatively, if you would like to send money anonymously without subscribing you can visit our <a href="{path=donate}">donate</a> page. We gratefully accept donations as small as $5.</p>
              <p>If you are unable to contribute at this time, that's fine too! All of our published material is available free of charge to all comers.</p>
              <p>Finally, please let us know what you think about our shows - commenting is open to everyone, with or without a subscription.</p>
              <p>Happy listening!</p>
          </div>
          <div class="modal-footer">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6">
                          <div class="lb_subscribe_button"><a href="javascript:void(0)" class="btn btn-default" data-dismiss="modal">I Want Free Access !</a></div>
                      </div>
                      <div class="col-xs-12 col-sm-6">
                          <div class="lb_subscribe_button"><a href="{site_url}subscribe" class="btn btn-primary">Sign Me Up Now !</a></div>
                      </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
        $(document).ready(function() {
               if ($.cookie("subscribeLightboxDone") != 'true') {
                    // The key_value cookie was not found so set it now 
                    $.cookie("subscribeLightboxDone", "true", {path: '/'});  
                    $('#subscribe_lightbox').modal();
                }
        });
    </script>
{/if}