{embed="framework_2/doc_head" title="Contribute to Truth News Australia"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">Contribute to Truth News Australia!</h3>

                <p>We welcome contributions from writers and citizen journalists. If you would like to post an article on our news page, give us a tip for a story, or come
                    on the radio show, we look forward to hearing from you!

                    Please send articles as email attachments in plain text or MS Word format to this address: <br/><br/>
                    <strong>email:</strong> {embed=framework/email_mask name="contribute" domain="truthnews.com.au"} <br/>
                </p>
                <p>Alternatively you can call us on: <strong>+61 415 059675</strong></p>
                <p>Please note that in order to publish on our website you'll need to supply some verifiable contact details and the article will neet to meet our journalistic guidelines.</p>
                <p>Thanks in advance!</p>

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}


{!--

{embed ="framework/doc_head" title="Contribute to Truth News Australia"}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="home"}


	<div id="main">
         <h2>Contribute to Truth News Australia!</h2>
         <p>We welcome contributions from writers and citizen journalists. If you would like to post an article on our news page, give us a tip for a story, or come 
          on the radio show, we look forward to hearing from you!
          
          Please send articles as email attachments in plain text or MS Word format to this address: <br/><br/>
          <strong>email:</strong> {embed=framework/email_mask name="contribute" domain="truthnews.com.au"} <br/>
          </p>
          <p>Alternatively you can call us on: <strong>+61 415 059675</strong></p>
          <p>Please note that in order to publish on our website you'll need to supply some verifiable contact details and the article will neet to meet our journalistic guidelines.</p>
          <p>Thanks in advance!</p>
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}

--}