{embed="framework_2/doc_head" title="Truth News Australia - Edit Profile" description="Edit Profile."}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="login_form_container">
               <h2 style="color:green;">Success!</h2>

               <p class="lead">You have successfully edited your profile.</p>

                <p><a href="{site_url}"><button type="button" class="btn btn-success">&laquo; Back to the Home Page</button></a></p>

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}