{embed="framework_2/doc_head" url="{site_url}members" title="Truth News Australia - recover password" description="Sign in or create a new account."}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">Password Recovery</h3>
                
                <p>If you've forgotten your password, just enter your email address you 
                    registered with and you will receive an email with instructions for resetting your Password.</p>
                
                {exp:user:forgot_password}
                
                    <div class="form-group">
                        <label for="email">
                            Email Address <span class="required">*</span>
                        </label>
                        <input class="form-control" type="text" name="email" id="email" />
                    </div>
                    
                    <input type="submit" name="submit" value="Submit" class="btn btn-default" />
                    

                {/exp:user:forgot_password}
                

               
            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}