{embed="framework_2/doc_head_minimal"}
<div class="edit_image">

    {exp:user:edit override_return="members/profile-photo-edit" return="members/profile-photo-edit" error_page="sign-in/error"}
         <div class="form-group">
            <p><strong>Current Photo:</strong></p>
            <div class="edit_image_container">
                {if photo_filename}
                <img src="{photo_url}{photo_filename}" width="{photo_width}" height="{photo_height}" />
                {if:else}
                <p>You currently don't have a profile photo.</p>
                {/if}
            </div>

         </div>


        <div class="form-group">
            <label for="photo_filename">Upload a New Photo:</label>
            <input type="file" name="photo_filename" id="photo_filename" />
            {!-- <p class="help-block">Example block-level help text here.</p> --}
        </div>

       <input type="hidden" name="Introduction" value="{Introduction}" />

        <input class="btn btn-default" type="submit" value="Upload" /> {if photo_filename}<input class="btn btn-default"  type="submit" name="remove_photo" value="Remove" />{/if}
    {/exp:user:edit}
</div>
{embed ="framework_2/doc_foot"}