{embed ="framework_2/doc_head_ssl" url="{site_url}subscribe" description="If you subscribe to TNRA, you will receive an email weekly with information about our latest show. Please
make sure to whitelist our email address in your SPAM filter." title="Subscribe to our Mailing List"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header_subscribe"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">It's Time to Join the Struggle!</h3>
                <strong>
                <p>Congratulations on your decision to join the info war and become a Truth News subscriber. 
                    Your contribution enables us to continue our work, giving a voice to the voiceless and championing
                    truth, freedom and justice in Australia and throughout the world.
                </p>


                <p>All TNRA subscribers receive a weekly email with information about our latest show, as well as access to additional members-only material.</p>
                </strong>
                {!--
                {if logged_in}
                <div>LOG OUT: <a href="{exp:authenticate:logout_url return='/subscribe'}">LOG OUT</a></div>
                {/if}
                --}
                {exp:tna_commerce:subscribe}

            </div>


        </div>
       <div class="col-md-3 col-lg-4">{embed="framework_2/right_col_subscribe"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer_ssl"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot_ssl"}

