{embed ="framework_2/doc_head" url="{site_url}subscribe" description="If you subscribe to TNRA, you will receive an email weekly with information about our latest show. Please
make sure to whitelist our email address in your SPAM filter." title="Subscribe to our Mailing List"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">Become a TNRA Subscriber and Become One of History's Actors!</h3>

                <p>If you subscribe to TNRA, you will receive an email weekly with information about our latest show. Please make sure to whitelist our email address in your SPAM filter.</p>

                <p>If you purchase a GOLD subscription you will also receive a unique TNRA T-shirt:</p>

                <p>
                    <img src="{site_url}storage/images/framework/t_shirt_01.jpg" alt="TNRA t-shirt" />
                 </p>


                <p>Please read our <a href="{site_url}subscribe#terms"}>Terms and Conditions</a> before proceeding, thanks!</p>

                <a name="subscribe_form" ></a>
                <form class="subscribe_form">

                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input id="firstname" type="text" class="form-control" placeholder="Text input">
                    </div>

                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input id="lastname" type="text" class="form-control" placeholder="Text input">
                    </div>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                    </div>

                    <label>All Prices in Australian Dollars (AUD)</label>

                    <div class="radio">
                        <label>
                            <input type="radio" name="subscribe_bronze" id="subscribe_bronze" value="subscribe_bronze">
                            3 Month Subscription <strong>$35</strong>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="subscribe_silver" id="subscribe_silver" value="subscribe_silver">
                            6 Month Subscription <strong>$55</strong>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="subscribe_gold" id="subscribe_gold" value="subscribe_gold" checked>
                            12 Month Subscription (includes FREE T-shirt!) <strong>$75</strong>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> I have read and agree with the <a href="{site_url}subscribe#terms"}>Terms and Conditions</a>.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Subscribe Now</button>
                </form>



            </div>

            <a name="terms" ></a>
            <h3 class="recent_shows">Terms and Conditions</h3>

            <dl class="terms">
                <dt>General</dt>
                <dd>All prices are in Australian dollars.</dd>
                <dd>In accepting these terms of agreement, you are giving permission for Truth News to charge your Credit Card account on a recurring basis, depending on the nature of your subscription.</dd>
                <dd> While we attempt to be as accurate as possible and eliminate errors associated with our Services, we do not guarantee that any product or service, pricing or other information is accurate or free of error.
                    In the event of an error, in an order confirmation or in processing an order, we reserve the right to correct such error and revise your order accordingly if necessary (including charging the correct price) or to cancel the order and provide you with a merchandise or service credit . Your remedy in the event of an error is to cancel your order and please contact us through our contact us page so we can rectify the error.
                </dd>

                <dt>Cancellation</dt>
                <dd>You are free to cancel your subscription at any time at which point recurring charges will cease.</dd>

                <dt>TNRA T-shirt</dt>
                <dd> When you purchase a GOLD subscription you are entitled to a FREE TNRA T-shirt for which you will be able to choose your size from the range XS, S, M, L, XL. In the event that we are out of stock for a given size we will endeavour to get the t-shirt to you as soon as possible and will keep you updated on the progress of your order.</dd>


                <dt>Privacy</dt>
                <dd>We will not share or sell your personal information for any reason.</dd>

            </dl>

            <p><strong><a href="{site_url}subscribe#subscribe_form"}> &laquo; Go Back</a></strong></p>



















        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}

