<a name="terms" ></a>
<h3 class="recent_shows">Terms and Conditions</h3>

<dl class="terms">
    <dt>General</dt>
    <dd>All prices are in Australian dollars.</dd>
    <dd>In accepting these terms of agreement, you are giving permission for Truth News to charge your Credit Card account on a recurring basis, depending on the nature of your subscription.</dd>
    <dd> While we attempt to be as accurate as possible and eliminate errors associated with our Services, we do not guarantee that any product or service, pricing or other information is accurate or free of error.
        In the event of an error, in an order confirmation or in processing an order, we reserve the right to correct such error and revise your order accordingly if necessary (including charging the correct price) or to cancel the order and provide you with a merchandise or service credit . Your remedy in the event of an error is to cancel your order and please contact us through our contact us page so we can rectify the error.
    </dd>

    <dt>Cancellation</dt>
    <dd>You are free to cancel your subscription at any time at which point recurring charges will cease.</dd>

    <dt>TNRA T-shirt</dt>
    <dd> When you purchase a 12 month subscription you are entitled to a FREE TNRA T-shirt for which you will be able to choose your size from the range XS, S, M, L,
        XL. In the event that we are out of stock for a given size we will get the t-shirt to you as soon as possible and will keep you updated on the progress of your order.</dd>


    <dt>Privacy</dt>
    <dd>We will not share or sell your personal information for any reason.</dd>

</dl>

<p><strong><a href="{site_url}subscribe/payment#subscribe_form"> &laquo; Go Back</a></strong></p>


