  {embed ="framework/doc_head" url="http://www.truthnews.com.au/stopacta" description="This document and video presentation outlines steps you can take right now to help put a stop to the Anti-Counterfeiting Trade Agreement, which poses a serious threat to our freedom and national sovereignty." title="STOP ACTA: things you can do right now"}


<div id="container">
{embed="framework/header"}
{embed ="framework/navigation" section="home"}

{!--
<p style="width:300px; padding:5px; border:1px dotted #990015; margin:10px auto 20px auto; text-align:center; color:#990015; font-weight:bold;">&ldquo;artists use lies to expose the truth,<br/>while politicians use them to hide it&rdquo;</p>
--}

<div id="main">
         
         {embed="framework/news_channel" url_title="stop_acta_things_you_can_do_right_now" show_comments="yes" channel="tna_news" search="" limit="1"}
         {embed="ad_zones/banner"}
</div>


        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}