{embed ="framework/doc_head" url="{site_url}sign-in/fb" title="Truth News Australia Sign In" description="Sign in or create a new account with TNRA before Facebook purges us!"}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation"}


	<div id="main">
         <h2>A Warm Welcome to all Facebook Refugees!</h2>
         
         <p>As you've probably heard, Facebook is currently purging dissidents who promote pro-second amendment and pro-liberty information. 
         It's time to find alternatives to this CIA-run surveillance behemoth.</p>
         
         <p>As a TNRA member you will have the ability to post comments on any of our articles and podcasts, and we now have a <a href="{path=forum}">forum</a> where you can share your ideas and meet people!"</p>
         
         <p>TNRA welcomes you with open arms as an honoured member! </p>
         
         
     {if logged_in}
     <p style="width:450px; border:1px solid red; padding: 4px;">You are currently logged in as <strong>{screen_name}</strong> | <a href="{site_url}member/profile/">Profile</a> | <a href="{path='logout'}">Log Out</a>
     <ul>
           <li><a href="{path='member/profile'}">Edit your profile</a></li>
           <li><a href="{path='member/memberlist'}">View the Memberlist</a></li>
           <li><a href="{path='logout'}">Log Out</a></li>
     </ul>
     {/if}
     
     
     {if logged_out}
       {embed=sign-in/logged_out}
     {/if}
        
   </div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}