{embed ="framework/doc_head" url="{site_url}sign-in" title="Truth News Australia Sign In" description="Sign in or create a new account."}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation"}


	<div id="main">
         <h2>Sign In Page</h2>
         
     {if logged_in}
     <p style="border:1px solid dimgray; padding 4px;">You are currently logged in as {screen_name} | <a href="{site_url}member/profile/">Profile</a> | <a href="{path='logout'}">Log Out</a>
     <ul>
           <li><a href="{path='member/profile'}">Edit your profile</a></li>
           <li><a href="{path='member/memberlist'}">View the Memberlist</a></li>
           <li><a href="{path='logout'}">Log Out</a></li>
     </ul>
     {/if}
     
     
     {if logged_out}
       {embed=sign-in/logged_out}
     {/if}
        
   </div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}