{embed="framework_2/doc_head" url="{site_url}sign-in/register/" title="Truth News Australia Sign In" description="Sign in or create a new account."}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="login_form_container">
                <h3 class="recent_shows">Member Registration</h3>
                {exp:user:register form:class="registration_form" return="sign-in/registration-successful" error_page="sign-in/error"
                required="username|screen_name|password|password_confirm|email|email_confirm|introduction|captcha|accept_terms" }

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="username">
                    </div>

                    <div class="form-group">
                        <label for="screen_name">Screen Name:</label>
                        <input type="text" class="form-control" name="screen_name" id="screen_name" placeholder="screen name">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="password">
                    </div>

                    <div class="form-group">
                        <label for="password_confirm">Confirm Password:</label>
                        <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="password">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="email_confirm">Confirm Email:</label>
                        <input type="email" class="form-control" name="email_confirm" id="email_confirm" placeholder="email">
                    </div>

                    <div class="form-group">
                        <label for="url">URL:</label>
                        <input type="text" class="form-control" name="url" id="url" placeholder="URL">
                    </div>

                    <div class="form-group">
                        <label for="Introduction">Introduce yourself here. Please let us know your main areas of interest and reasons for becoming a member of this
                            website. NOTE: your response is important to us - if this field is left blank or contains irrelevant information we will assume you are a spam-bot and your registration will not be activated.
                        </label>
                        <textarea class="form-control" name="Introduction" id="Introduction" rows="3"></textarea>
                    </div>

                    {if captcha}
                        <div class="form-group">
                            <label for="captcha">Please type the words you see below:</label>
                            <p>{captcha}</p>
                            {!--
                            <input class="form-control" type="text" id="captcha" name="captcha" />
                            --}
                        </div>
                    {/if}

                    <p><small>
                        All messages posted at this site express the views of the author, and do not necessarily reflect the views of the owners and administrators of this site.
                        By registering at this site you agree not to post any messages that are obscene, vulgar, slanderous, hateful, threatening, or that violate any laws.   We will permanently ban all users who do so.
                        We reserve the right to remove, edit, or move any messages for any reason.
                    </small></p>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="accept_terms" name="accept_terms" value="y" /> Accept Terms?
                        </label>
                    </div>


                    <button type="submit" class="btn btn-default">Submit</button>

                    {if no_results}
                        <p>You're currently logged in, and must be logged out to view this form.</p>
                    {/if}

            {/exp:user:register}

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->
    <script>
        $().ready(function() {
        // $('#test').validate( {invalidHandler: $.watermark.showAll} );

            $(".registration_form").validate({
                rules: {
                        username: {
                            required: true,
                            minlength: 2,
                            alphanumeric:true
                        },
                        screen_name: "required",
                        password: {
                            required: true,
                            minlength: 5
                        },
                        password_confirm: {
                            required: true,
                            minlength: 5,
                            equalTo: "#password"
                        },
                        email: {
                            required: true,
                            email: true
                        },
                        email_confirm: {
                            required: true,
                            email: true,
                            equalTo: "#email"
                        },
                        Introduction: "required",
                        accept_terms:"required"
                    },
                messages: {
                        username: {
                            required: "Please enter a username",
                            minlength: "Your username must consist of at least 2 characters"
                        },
                        screen_name: "Please enter a screen name",
                        password: {
                            required: "Please provide a password",
                            minlength: "Your password must be at least 5 characters long"
                        },
                        password_confirm: {
                            required: "Please confirm your password",
                            minlength: "Your password must be at least 5 characters long",
                            equalTo: "Please enter the same password as above"
                        },
                        email: "Please enter a valid email address",
                        email_confirm: "Please confirm your email address",
                        Introduction: "Please introduce yourself here."
                    }
            });
        });
    </script>
{embed ="framework_2/doc_foot"}