{embed="framework_2/doc_head" url="{site_url}sign-in" title="Truth News Australia Sign In" description="Sign in or create a new account."}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="login_form_container">
               <h2 style="color:green;">Registration Complete</h2>

               <p class="lead">Your Truth News registration is complete, however before you can use the account it will need to be activated by an administrator. We will email you
                   when your account has been activated.</p>

                <p class="lead">Thanks for signing up with Truth News Australia!</p>

                <p><a href="{site_url}"><button type="button" class="btn btn-success">&laquo; Back to the Home Page</button></a></p>

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}