<div class="sign_in_snippet">
  <small>
      {if logged_in}
          <div class="signed_in alert alert-success">
              Welcome, <a href="{site_url}member/profile/">{screen_name}</a> | <a href="{path='logout'}">Log Out</a>
          </div>
      {if:else}



      <a href="{path=sign-in}" class="guest_warning alert alert-success">
      {!-- <div class="alert alert-success"> --}

          You are visiting as a guest. Sign in or register now for FREE membership!

      </a>

      {/if}
  </small>
</div>

        {!--
You are currently visiting as a guest. For a better user experience, sign in or register as a
TNRA member.
        --}
