
{if logged_out}
<a name="comment_body" ></a>
<h3>Comments</h3>
<p>
In order to leave a comment you may need to <a href="{site_url}sign-in">register and sign in</a>. 
</p>
{/if}


{!-- paginate_base="news/story" --}
{if logged_in}
<a name="comment_body" ></a>
<div  class="comment_block">
<h3>Comments</h3>
{exp:comment:entries site="{embed:site}" dynamic="off" entry_id="{embed:entry_id}" sort="asc" limit="20" paginate="bottom" }

<div class="comment_entry">
{comment}
</div>

<p class="comment_data">By <strong>{name}</strong> on {comment_date format="%Y %m %d - %H:%i:%s"}</p>
  {paginate}
     <p>Page {current_page} of {total_pages} pages {exp:low_replace find="index.php" replace=""}{pagination_links}{/exp:low_replace}</p>
  {/paginate}

{/exp:comment:entries}



  {embed="default_site:framework/comment_form" site="{embed:site}" entry_id="{embed:entry_id}"}

</div>
{/if}