<div class="navigation_container">
  <ul class="pureCssMenu pureCssMenum">
	<li class="pureCssMenui"><a class="pureCssMenui{if !"{segment_1}"} activetab{/if}" href="{site_url}">Home</a></li>
	<li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "radio"} activetab{/if}" href="{site_url}web/radio">Radio</a></li>
	<li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "news"} activetab{/if}" href="{path=news}">News</a></li>
	<li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "promote"} activetab{/if}" href="{path=promote}">Promote</a></li>
	<li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "contribute"} activetab{/if}" href="{path=contribute}">Contribute</a></li>
    <li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "contact"} activetab{/if}" href="{path=contact}">Contact</a></li>
	<li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "subscribe"} activetab{/if}" href="{site_url}subscribe">Subscribe</a></li>
    <li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "donate"} activetab{/if}" href="{path=donate}">Donate</a></li>
    <li class="pureCssMenui"><a class="pureCssMenui{if "{segment_1}" == "radio-archives"} activetab{/if}" href="{site_url}radio-archives">Archives</a></li>
  </ul>
</div>
