<?php 
   $broadcast_date = DateTime::createFromFormat('Ymd', "{embed:media_date}");
   $broadcast_date_str = $broadcast_date->format('F j, Y');
   $segments = "{embed:media_segments}";
   for ($segment = 1; $segment <= $segments; $segment++) {
       $media_id = "mediaspace_{embed:entry_id}";
       $media_id .= ($segment>1)?"_$segment":'';
// Broadcast of [$broadcast_date_str ] 
?>

<div class="player_widget_container">
<div style="margin-top:15px;" id='<?=$media_id?>'>This text will be replaced</div>
<div style="margin-bottom:10px;">Broadcast of <?=$broadcast_date_str?>. Part <?=$segment?> of <?=$segments?> <span style="font-size:16px;">&raquo;</span> Download mp3: 
{!--
<a href="http://www.truthnews.com.au/web/radio/download/{embed:media_source}_{embed:media_date}">click here</a>
--}

<a href ="{exp:tna_utils:get_media_url segment="<?=$segment?>" media_date="{embed:media_date}" media_source="{embed:media_source}"}">click here</a>

</div>

{embed=default_site:framework/player_object segment="<?=$segment?>" entry_id="{embed:entry_id}" media_date="{embed:media_date}" media_source="{embed:media_source}"}
</div>

<?php 
  }
?>


