<div class="recent_comments">
   <h2>Recent Comments</h2>
   
   {exp:comment:entries sort="desc" orderby="date" limit="10" dynamic="off" paginate="top" paginate_base=""}
        {comment}
        <p>
                By {name} on {comment_date format="%Y %m %d"}<br>
                From the entry '<a href="{comment_url_title_auto_path}">{title}</a>'.
        </p>
        <div style="border-bottom:1px dotted gray; margin:0px auto 15px auto; color:gray; height:1px; width:50%;" ></div>
   {/exp:comment:entries}
</div>

