{embed="framework_2/doc_head" url="{site_url}subscribe_now_free_tshirt" title="Join the Info War - Subscribe to TNRA!"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 style="font-size:20px;" class="recent_shows">Join the Info War - become A TNRA Subscriber Today!</h3>

                <div class="fb-like" data-href="{site_url}subscribe_now_free_tshirt" data-width="280" data-show-faces="true" data-send="true"></div>

                {!--
                <img style="float:left; margin:4px 10px 2px 0px;" src="{site_url}storage/images/framework/subscribe_now_small_with_t_shirt.png" />
                --}
                <p style="margin-top:10px;" class="lead">
                    The costs involved in maintaining Truth News Australia are
                    significant, and in order to continue bringing you great interviews and
                    expand our capabilities, we need a revenue stream.
                </p>
                <p class="lead">
                    To that end, we have now launched our subscription service. You can sign up
                    on a monthly or yearly basis.
                </p>

                <p class="lead">
                    Yearly subscribers can receive our unique TNRA t-shirt and DVD for the cost
                    of postage. We also offer concession subscriptions for those who are not
                    able to afford the full yearly subscription.
                </p>
                <p class="lead">
                    In order to purchase a subscription please visit our <strong><a href="https://www.truthnews.com.au/subscribe">subscribe page</a></strong>.
                </p>
                <p class="lead">
                    Subscriber or not, you are still most welcome to
                    download our podcasts, but we do urge you to consider taking this important step.
                </p>
                <p class="lead">
                    Alternative media cannot flourish if there is not a financial incentive.
                </p>
                <p class="lead">
                    Thank you for your continued support!
                </p>

                <p class="lead">
                    Hereward Fenton.
                </p>

            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}