{embed="framework_2/doc_head" title="Promote Truth News Australia"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                <h3 class="recent_shows">Promote Truth News Australia!</h3>
                <form name="banner_form">
                <div class="promote">
                    <p>We have a variety of banners which you can put on your blogs and websites. Just click on the code then copy (Ctrl-C or right-click and select "Copy").
                    </p>

                        <h3 class="recent_shows">TNRA Leaderboard Flash Banner 728X90 (suitable for top or bottom of page)</h3>

                        <textarea class="form-control" name="banner_01" rows="6" onClick="selectFormText('banner_form','banner_01')">
                            {embed=promote/tnra_flash_banner_728X90}
                        </textarea>
                        <div class="visible-lg">{embed=promote/tnra_flash_banner_728X90}</div>
                </div>

                <div class="promote">
                    <h3 class="recent_shows">TNRA Leaderboard Static Banner 728X90 (suitable for top or bottom of page)</h3>

                    <textarea class="form-control" name="banner_02" rows="6" onClick="selectFormText('banner_form','banner_02')">
                        {embed=promote/tnra_static_banner_728X90}
                    </textarea>
                    <div class="visible-lg">{embed=promote/tnra_static_banner_728X90}</div>
                </div>

                <div class="promote">
                    <h3 class="recent_shows">TNRA Half Banner 234X60</h3>

                    <textarea class="form-control" name="banner_03" rows="6" onClick="selectFormText('banner_form','banner_03')">
                        {embed=promote/tnra_static_banner_234X60}
                    </textarea>
                    <div>{embed=promote/tnra_static_banner_234X60}</div>
                </div>


                <div class="promote">
                    <h3 class="recent_shows">TNRA Animated Banner 172X189</h3>

                    <textarea class="form-control" name="banner_04" rows="6" onClick="selectFormText('banner_form','banner_04')">
                        {embed=promote/tnra_animated_banner_172X189}
                    </textarea>
                    <div>{embed=promote/tnra_animated_banner_172X189}</div>
                </div>

                </form>
            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}