{embed ="framework/doc_head" title="Radio Archives" description="If you're impatient to get the latest TNRA podcast you can download our archives directly from Logos Radio Network."}

<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="radio-archives"}


	<div id="main">
         <h2>TNRA Radio Archives</h2>
         
         <div><fb:like href="{site_url}radio-archives" send="true" width="450" show_faces="true" font=""></fb:like></div>        
         <div class="add_this">{embed=framework/add_this add_this_url="{site_url}radio-archives"}</div>
         
         <p>You can download our archives from 2 sources:</p>
           <ul>
             <li><a href="http://archive.logosradionetwork.com/category/truth-news-radio-australia/">Logos Radio Network</a>
              (available within a few hours of every broadcast, contain ads)</li>
             <li><a href="{site_url}/web/feeds/tna.rss2">TNRA</a> (no ads, but archives are posted less frequently)</li>
           </ul>
         
         <p>If you wish to subscribe to our podcasts using iTunes, please use <a href="{site_url}web/feeds/tna.rss2">this link</a>.
        
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}