  {embed ="framework/doc_head" description="Songs by Hereward" title="Songs by Hereward Fenton"}


<div id="container">
	{embed="framework/header"}

	{embed ="framework/navigation" section="home"}


	<div id="main">
<div class="article_container">
         <h2 class="channel_title" style="color:#990015;">Songs By Hereward Fenton</h2>



{embed="framework/music_item" title="{segment_3}" unique_id="a_change_gonna_come" path="storage/media/music/{segment_3}"}

        
</div>
	</div>
        
	
     {embed="framework/right_col"}
     {embed="framework/footer"}

</div>
{embed ="framework/doc_foot"}