{exp:channel:entries site="default_site" limit="1" orderby="date" sort="desc"}
    {embed ="framework_2/doc_head" entry_id="{entry_id}" description="{exp:xml_encode}{description}{/exp:xml_encode}" title="{title}"}
{/exp:channel:entries}

{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                {embed="framework_2/news_channel" show_comments="yes" channel="tna|tna_news|911oz" search="" limit="1" require_entry="yes"}
            </div>
        </div>
        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->
{embed="default/subscribe_lightbox"}
{embed ="framework_2/doc_foot"}


