<?php

	$interface = 'mysqli';
	$encoding = 'utf8';
	$host = 'mysql.planetonline.com.au';
	$db = 'tnra_slideshowpro';
	$user = 'poladmin_sys';
	$pass = 'pullit911';

	$pre = 'ssp_';

	$socket = '';
	$port = '';

?>
