<!DOCTYPE html>
<html>


<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{if embed:description}{embed:description}{if:else}{tna_description}{/if}" />
    <meta name="keywords" content="911 Truth, WeAreChange, New World Order, freedom, human rights, media, news, research" />
    <meta name="author" content="Truth News Australia" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {if embed:meta_refresh}
    <meta http-equiv="refresh" content="{embed:meta_refresh}" />
    {/if}
    {embed=facebook/meta_tags entry_id="{embed:entry_id}" title="{embed:title}" description="{embed:description}" url="{embed:url}"}
{!--
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" />
--}
    <link rel="stylesheet" type="text/css" href="/assets/css/comment_buttons.css" media="screen,projection" />
{!--
    <link rel="stylesheet" type="text/css" href="/assets/css/navigation.css" media="screen,projection" />
--}


    <link href="/assets/third_party/bootstrap_3/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <link href="/assets/third_party/bootstrap-ie7/css/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->
    <link href="/assets/css/custom_2.css" rel="stylesheet">

    {!-- <link href="/assets/third_party/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"> --}



    <link rel="alternate" type="application/rss+xml" title="Truth News Radio Australia" href="http://www.truthnews.com.au/web/feeds/itunes.xml" />
    <link rel="alternate" type="application/rss+xml" title="Truth News Radio Australia" href="http://www.truthnews.com.au/web/feeds/tna.rss2" />
    <title>{if embed:title}{embed:title}{if:else}{tna_slogan}{/if} | truthnews.com.au</title>
    <base href="{site_url}" />
    <link rel="shortcut icon" type="image/ico" href="{site_url}favicon.ico" />

    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="http://www.truthnews.com.au/slideshowpro/m/embed.js"></script>
    {!-- "http://sopastrike.com/strike --}
    {exp:jquery:script_tag}
{!--
    <script language="javascript" src="/assets/js/colorbox.js"></script>

    <link media="screen" rel="stylesheet" target="_blank" href="/assets/css/colorbox.css" />

    <link media="screen" rel="stylesheet" target="_blank" href="/assets/css/popup.css" />
--}


    {!-- {exp:jquery:script_tag plugin='fancybox'} --}

    {!-- <script type="text/javascript" src="{site_url}themes/javascript/compressed/jquery/jquery.js"></script> --}

    <script type='text/javascript' src='/assets/js/swfobject.js'></script>

    <script src="/assets/third_party/mejs/mediaelement-and-player.min.js"></script>

    <link rel="stylesheet" href="/assets/third_party/mejs/mediaelementplayer.min.css" />



    {!-- {embed=framework/subscribe_pop} --}

    <!-- DESCRIPTION = {embed:description} -->


    <style type="text/css">
        {!--
        .main_box {
            width:1200px;
        }
        --}

    </style>

</head>

<body>

{!--
<div id="fb-root"></div>
--}
{!--
{if embed:adzone != "none"}
{embed=ad_zones/leaderboard}
{/if}
--}