{!--
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d2158e9345372da"></script>
--}
<script type="text/javascript" src="/assets/third_party/bootstrap_3/js/bootstrap.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/assets/third_party/bootstrap-ie7/js/bootstrap.min.js"></script>
<![endif]-->


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-756664-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


<div id="fb-root"></div>

<script>
    $('audio,video').mediaelementplayer({
        audioWidth: 280
    });
</script>


<!--Adobe Edge Runtime-->
<![if gt IE 8]>
<script>
    var tnra_banner_1_path = '/storage/banners/TNRA_banner_1/';
    // var tnra_banner_2_path = '/storage/banners/TNRA_banner_2/';
</script>
{if "{exp:tna_utils:is_platform type='phone'}" != 1}
<script type="text/javascript" charset="utf-8" src="/storage/banners/TNRA_banner_1/TNRA_banner_1_edgePreload.js"></script>
{/if}

<style>
    .edgeLoad-EDGE-460776 { visibility:hidden; }
   /* .edgeLoad-EDGE-460777 { visibility:hidden; } */
</style>
<![endif]>
<!--Adobe Edge Runtime End-->


<script>
    $(window).bind("load", function() {
        get_social_media($);
        //load_player($,"{site_url}");
    });
    //document.onload = get_social_media($,"{site_url}");
</script>

{!--
<script>
    var tick=1;
    function scrolldown(tick) {
        $("#twitter-widget-0").scrollTop(tick*100);
    }
    self.setInterval("scrolldown("+(tick+1)+")",5000);
</script>
--}

</body>
</html>