{!--
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d2158e9345372da"></script>
--}
<script type="text/javascript" src="/assets/third_party/bootstrap_3/js/bootstrap.js"></script>
<!--[if lt IE 9]>
{!-- <script type="text/javascript" src="/assets/third_party/bootstrap-ie7/js/bootstrap.min.js"></script> --}
<![endif]-->


<div id="fb-root"></div>


<script>
    $(window).on("load", function() {

        get_social_media($);
        get_google_stuff($);
        //load_player($,"{site_url}");
    });
    //document.onload = get_social_media($,"{site_url}");
</script>

<script src="/assets/third_party/modernizr/modernizr.js"></script>

<script>
    if (Modernizr.csstransitions) {
        $( "#subscribe_banner_css_3" ).show();
    } else {
        $( "#subscribe_banner_legacy" ).show();
    }

</script>

</body>
</html>