<!DOCTYPE html>
<html>


<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{if embed:description}{embed:description}{if:else}{tna_description}{/if}" />
    <meta name="keywords" content="911 Truth, WeAreChange, New World Order, freedom, human rights, media, news, research" />
    <meta name="author" content="Truth News Australia" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {if embed:meta_refresh}
    <meta http-equiv="refresh" content="{embed:meta_refresh}" />
    {/if}
    {embed=facebook/meta_tags entry_id="{embed:entry_id}" title="{embed:title}" description="{embed:description}" url="{embed:url}"}

    <link rel="stylesheet" type="text/css" href="/assets/css/comment_buttons.css" media="screen,projection" />



    <link href="/assets/third_party/bootstrap_3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/third_party/bootstrap_3/css/bootstrap-theme.css" rel="stylesheet">
    {if embed:listen_live == "yes"}
       <link href="/assets/third_party/jplayer/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />
    {/if}


    <link href="/assets/css/custom_2.css" rel="stylesheet">

    <!--[if lt IE 9]>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/assets/third_party/bootstrap-ie7/css/bootstrap-ie7.css" rel="stylesheet">
    {!--<meta http-equiv="x-ua-compatible" content="IE=9" > --}
    <script src="/assets/third_party/bootstrap-ie7/js/respond.js"></script>

    <![endif]-->

    <link rel="alternate" type="application/rss+xml" title="Truth News Radio Australia" href="http://www.truthnews.com.au/web/feeds/itunes.xml" />
    <link rel="alternate" type="application/rss+xml" title="Truth News Radio Australia" href="http://www.truthnews.com.au/web/feeds/tna.rss2" />
    <title>{if embed:title}{embed:title}{if:else}{tna_slogan}{/if} | truthnews.com.au</title>
    <base href="{site_url}" />
    <link rel="shortcut icon" type="image/ico" href="{site_url}favicon.ico" />
{!--
    <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
--}

    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="{site_url}slideshowpro/m/embed.js"></script>

    {exp:jquery:script_tag}
    <script src="/assets/third_party/jquery/validation/jquery.validate.min.js"></script>
    <script src="/assets/third_party/jquery/validation/additional-methods.min.js"></script>

{!--
    <script language="javascript" src="/assets/js/colorbox.js"></script>
    <link media="screen" rel="stylesheet" target="_blank" href="/assets/css/colorbox.css" />
    <link media="screen" rel="stylesheet" target="_blank" href="/assets/css/popup.css" />
--}


    {!-- {exp:jquery:script_tag plugin='fancybox'} --}

    {!-- <script type="text/javascript" src="{site_url}themes/javascript/compressed/jquery/jquery.js"></script> --}

    <script type='text/javascript' src='/assets/js/swfobject.js'></script>

    <script src="/assets/third_party/mejs/mediaelement-and-player.min.js"></script>

    <link rel="stylesheet" href="/assets/third_party/mejs/mediaelementplayer.min.css" />

    <link href="/assets/third_party/malihu/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />

    <script src="/assets/third_party/malihu/jquery.mCustomScrollbar.concat.min.js"></script>


    {!-- {embed=framework/subscribe_pop} --}

    <!-- DESCRIPTION = {embed:description} -->


    <style type="text/css">
        {!--
        .main_box {
            width:1200px;
        }
        --}

    </style>




</head>

<body>

{!--
<div id="fb-root"></div>
--}
{!--
{if embed:adzone != "none"}
{embed=ad_zones/leaderboard}
{/if}
--}