<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{if embed:description}{embed:description}{if:else}{tna_description}{/if}" />
    <meta name="keywords" content="911 Truth, WeAreChange, New World Order, freedom, human rights, media, news, research" />
    <meta name="author" content="Truth News Australia" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <link rel="stylesheet" href="/assets/third_party/mejs/mediaelementplayer.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/comment_buttons.css" media="screen,projection" />
    
    
    <link href="/assets/third_party/bootstrap_3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/third_party/bootstrap_3/css/bootstrap-theme.css" rel="stylesheet">


    <link href="/assets/css/custom_2.css" rel="stylesheet">
    

    <!--[if lt IE 9]>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/assets/third_party/bootstrap-ie7/js/respond.js"></script>
    <![endif]-->


    <title>{if embed:title}{embed:title}{if:else}{tna_slogan}{/if} | truthnews.com.au</title>
    <base href="/" />
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/slideshowpro/m/embed.js"></script>
    
    <script type="text/javascript" charset="utf-8" src="{exp:config_var var='https_site_url'}?ACT=jquery"></script>

    
    <script src="/assets/third_party/jquery/validation/jquery.validate.min.js"></script>
    <script src="/assets/third_party/jquery/validation/additional-methods.min.js"></script>
    <script src="/assets/third_party/modernizr/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    
    

    <style type="text/css">


    </style>


</head>

<body>
