<div class="row header">
    <div class="col-sm-4 col-md-3 col-lg-3">
        {!--{embed=framework/twitter_header} --}

        <h1 class="header"><a href="{site_url}"><img width="270" height="123" src="{site_url}storage/images/framework/logo_20130727_270X123_2.png" alt="Truth News Australia" /></a>
        </h1>

    </div>


    <div class="col-md-2 col-lg-2 visible-lg visible-md">
        {!--{embed=framework/twitter_header} --}
        {embed="framework_2/listen_banner_2"}

    </div>


    {if "{exp:tna_utils:is_platform type='phone'}" != 1}
      <div class="col-sm-8 col-md-7 col-lg-7">
        <div class="tnra_banner_large">

               <div id="Stage" class="EDGE-460776">
                   <!--[if lt IE 9]>
                       <img src="/storage/images/framework/subscribe_static.jpg" />
                   <![endif]-->
               </div>

         </div>
      </div>
    {/if}

</div>

