<div class="row">
    <div class="col-lg-3">
        {!--{embed=framework/twitter_header} --}

        <h1 class="header"><a href="{site_url}"><img width="270" height="123" src="{site_url}storage/images/framework/logo_20130727_270X123_2.png" alt="Truth News Australia" /></a>
        </h1>

    </div>


    <div class="col-lg-2 visible-lg">
        {!--{embed=framework/twitter_header} --}
        {embed="framework_2/listen_banner_2"}

    </div>


    <div class="col-lg-3 col-lg-offset-1">
        {embed=sign-in/sign_in_snippet}
    </div>

    <div class="col-lg-3">
        {embed=framework/search_simple}
    </div>




    {!--
    <div class="span8">
        {embed="ad_zones/leaderboard_internal"}
    </div>
    --}
</div>

