<div class="row header">
    <div class="col-md-3 col-lg-4 header_logo_constraint">
        <h1 class="header"><a
                href="{site_url}"><img width="270" height="123" src="{site_url}storage/images/framework/logo_20130727_270X123_4.png" alt="Truth News Australia" /></a>
        </h1>

    </div>


    <div class="col-md-9 col-lg-8 top_banner">
        {!-- embed=ad_zones/responsive_adsense --}

        <div class="visible-xs" id="wrapper_small">
            <iframe frameborder='0' scrolling="no" id="scaled-frame_small" src="/storage/banners/subscribe_01/"></iframe>
        </div>

        <iframe class="visible-sm visible-md visible-lg" frameborder='0' scrolling="no" src="/storage/banners/subscribe_01/"></iframe>
       {!--  width="728" height="90" --}
    </div>


{!--
    {if "{exp:tna_utils:is_platform type='phone'}" != 1}
      <div class="col-sm-8 col-md-7 col-lg-7">
        <div class="tnra_banner_large">
               <div id="Stage" class="EDGE-460776">
                   <!--[if lt IE 9]>
                       <img src="/storage/images/framework/subscribe_static.jpg" />
                   <![endif]-->
               </div>
         </div>
      </div>
    {/if}
--}
    {!-- if "{exp:tna_utils:is_platform type='phone'}" != 1 --}



{!--
    {if "{exp:tna_utils:is_platform type='phone'}" == 1}

           <div class="col-lg-12 visible-xs">
              <div class="tnra_banner_small">
                <iframe style="margin: 0px auto;" scrolling="no" frameborder="0" seamless src="/storage/banners/TNRA_banner_1/web.html" height="47" width="320" ></iframe>
              </div>
           </div>

    {/if}
--}
</div>

