<img src="/storage/images/framework/hereward_icon_thumb_06.jpg" alt="Hereward Fenton" title="Hereward Fenton" />
   <p>
      <strong>{embed:pretty_date}</strong> <br/>

       {if "{embed:standfirst}"}{embed:standfirst}{if:else}Climb aboard the
       ship of truth with Hereward Fenton at the helm, as we plough through uncharted waters of geo-politics, scandals, cover-ups, war and tyranny.{/if}
       {if embed:status == "open"}
         <span class="listen_now"><a class='listen_now' href="{embed:channel_url}/{embed:url_title}" >Listen&nbsp;Now&nbsp;&raquo;</a></span>
       {/if}

   </p>
<div class="clearfix"></div>
