
{exp:tna_utils:get_latest_show}

{!--
<div>CALC: [{embed:last_show_date}]</div>
<div>STATUS: [{embed:status}]</div>
<div>URL: [{mp3_url}]</div>
<div>LOGOS: [{last_show_date}]</div>
--}

<h2>Latest LIVE show</h2>
{!--  || ("{embed:last_show_date}" == '' && "{last_show_date}") --}

    {if "{mp3_url}" && (("{last_show_date}" == "{embed:last_show_date}")) }

        {if "{embed:status}" == 'Draft' || "{embed:status}" == ''}

            {embed=framework_2/latest_show_player_container player_id="{embed:player_id}" label="" url="{mp3_url}"}

        {if:elseif "{embed:status}" == 'open'}
            {embed=framework_2/latest_show_player_container player_id="{embed:player_id}" label="" url="{mp3_url}"}
            {!-- {embed=framework_2/latest_show_player_container default_label="Hour 1" segments="{embed:segments}" last_show_date="{embed:last_show_date}"} --}
        {/if}
        {embed=framework_2/latest_show_notes status="{embed:status}" channel_url="{embed:channel_url}" url_title="{embed:url_title}"
        pretty_date="{pretty_date}" standfirst="{embed:standfirst}"}
   {if:elseif "{embed:status}" == 'open'}

        {if "{embed:live_player_podcast_url}"}
            {embed=framework_2/latest_show_player_container player_id="{embed:player_id}" label="" url="{embed:live_player_podcast_url}"}
        {/if}


        {!-- {embed=framework_2/latest_show_player_container default_label="Hour 1" segments="{embed:segments}" last_show_date="{embed:last_show_date}"} --}
        {!-- embed=framework_2/latest_show_player_container player_id="{embed:player_id}" label="" url="{mp3_url}" --}
        {embed=framework_2/latest_show_notes status="{embed:status}" channel_url="{embed:channel_url}" url_title="{embed:url_title}" pretty_date="{embed:last_show_date}"
        standfirst="{embed:standfirst}"}
   {if:else}

        {embed=framework_2/latest_show_notes status="{embed:status}" channel_url="" url_title=""
        pretty_date="{exp:tna_utils:pretty_date_of_last_show}" standfirst="{embed:standfirst}"}
<p class="text-warning"><small>Podcast temporarily unavailable - please try again later.</small></p>
   {/if}

{/exp:tna_utils:get_latest_show}

