
        {exp:tna_utils:get_latest_show}

            {if "{mp3_url}"}
            {embed=framework_2/mejs_raw_url date="{pretty_date}" url="{mp3_url}" id='latest_show'}
            {/if}
           <img src="/storage/images/framework/hereward_icon_thumb_06.jpg" alt="Hereward Fenton" title="Hereward Fenton" />
           <p>
             <strong>{pretty_date}</strong> <br/>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
           </p>


        {/exp:tna_utils:get_latest_show}
