{exp:channel:entries cache="yes" dynamic="no" status="draft|open" channel="tna" orderby="media_date" sort="desc" limit="1"}
         {if no_results} {embed="framework_2/latest_show" player_id="{embed:player_id}"} {/if}
            {embed=framework_2/latest_show player_id="{embed:player_id}" standfirst="{standfirst}" channel_url="{channel_url}" url_title="{url_title}"
            last_show_date="{media_date}" status="{status}" segments="{media_segments}"}
{/exp:channel:entries}


{!-- search:media_date="={embed:last_show_date}" --}

