<div class="latest">


    <h2>Highlights</h2>
    <div id="posts">
      <ul>
        {exp:channel:entries offset="0" channel="tna|tna_news" limit="5" orderby="entry_date" sort="desc" status="open"}
        <li>
            <a href="{channel_url}/{url_title}">{exp:char_limit total="95"}{title}{/exp:char_limit}</a><br/>
            <small>{exp:char_limit total="150"}{standfirst}{/exp:char_limit}</small>
        </li>
        {/exp:channel:entries}
      </ul>
    </div>
</div>


<script>
    (function($){
        $(window).load(function(){
            $("#posts").mCustomScrollbar();
        });
    })(jQuery);
</script>

{!--
<script>
    function tick(){
        //$('#recent_posts li:first').animate({'opacity':0}, 200, function () { $(this).appendTo($('#recent_posts')).css('opacity', 1); });
        $('#recent_posts li:first').slideUp( function () { $(this).appendTo($('#recent_posts')).slideDown(); });
        //$('#recent_posts li:first').slideUp( function () { $(this).appendTo($('#recent_posts')).slideUp(); });
    }
    setInterval(function(){ tick () }, 5000);
</script>
--}
