<img src="/storage/images/framework/hereward_icon_thumb_06.jpg" alt="Hereward Fenton" title="Hereward Fenton" />
   <p>
       {if embed:url_title}
       <a class='listen_now' href="{embed:channel_url}/{embed:url_title}">{embed:pretty_date}</a>
       {if:else}
       <strong>{embed:pretty_date}</strong>
       {/if}

       <br/>

       {if "{embed:standfirst}"}{exp:char_limit total="150"}{embed:standfirst}{/exp:char_limit}{if:else}Climb aboard the
       ship of truth with Hereward Fenton at the helm, as we plough through uncharted waters of geo-politics, scandals, cover-ups, war and tyranny.{/if}
       {if embed:status == "open"}
         <a class='listen_now' href="{embed:channel_url}/{embed:url_title}" >Get&nbsp;the&nbsp;podcast&nbsp;&raquo;</a>
       {/if}

   </p>
<div class="clearfix"></div>


