{!-- navbar-inverse tnra_navbar
<div class="container">
    navbar-fixed-top
    navbar-default
    navbar-fixed-top
    navbar-inverse
    tnra_navbar
--}

    <div class="navbar navbar-inverse navbar-static-top tnra_navbar">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand visible-xs">Truth News Australia</a>
            </div>
            <div class="navbar-collapse collapse" style="overflow-y: visible;">
                <ul class="nav navbar-nav">
                    <li {if !"{segment_1}"}class="active"{/if}><a href="{site_url}">Home</a></li>
                    <li {if "{segment_1}" == "radio"}class="active"{/if}><a href="{site_url}web/radio">Radio</a></li>
                    <li {if "{segment_1}" == "news"}class="active"{/if}><a href="{path=news}">News</a></li>
                    <li {if "{segment_1}" == "contact"}class="active"{/if}><a href="{path=contact}">Contact</a></li>
                    <li {if "{segment_1}" == "subscribe"}class="active"{/if}><a href="{site_url}subscribe">Subscribe</a></li>


                    <li {if "{segment_1}" == "radio-archives"}class="active"{/if}><a href="{path=radio-archives}">Archives</a></li>


                    <li class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Members <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {if logged_in}
                                <li><a href="{path='logout'}">Log Out</a></li>
                                <li {if "{segment_1}" == "members" && segment_2==""}class="active"{/if}><a href="{path=members}">Member List</a></li>
                                <li {if "{segment_1}" == "members" && segment_2=="profile"}class="active"{/if}><a href="{site_url}members/profile/{member_id}">My Profile</a></li>
                            {/if}
                            {if "{exp:tna_subscriber}"}
                               <li>{if "{segment_1}" == "subscribers_only"}class="active"{/if}<a href="{path='subscribers_only'}">Subscribers Only</a></li>
                            
                            {/if}
                            {if logged_out}
                                <li><a href="{path=log-in}">Log In</a></li>
                               {!-- <li><a href="{path=sign-in/register}">Register</a></li> --}
                            {/if}

                        </ul>
                    </li>


                    <li class="dropdown" >
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">More <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li {if "{segment_1}" == "promote"}class="active"{/if}><a href="{path=promote}">Promote</a></li>
                           <li {if "{segment_1}" == "contribute"}class="active"{/if}><a href="{path=contribute}">Contribute</a></li>

                           <li {if "{segment_1}" == "forum"}class="active"{/if}><a href="{path=forum}">Forum</a></li>
                        </ul>
                    </li>
                </ul>

                {embed=framework_2/search_simple id="search1" form_class="navbar-form navbar-right hidden-sm"}
                {!--
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top</a></li>
                </ul>
                --}
            </div><!--/.nav-collapse -->
        </div>
    </div>



























