<div class="row">
    <?php
   $broadcast_date = DateTime::createFromFormat('Ymd', "{embed:media_date}");
   $broadcast_date_str = $broadcast_date->format('F j, Y');
    $segments = "{embed:media_segments}";
    $span_width = ($segments>1)?6:12;
    $media_url = '';
    for ($segment = 1; $segment <= $segments; $segment++) {
    $media_id = "mediaspace_{embed:entry_id}";
    $media_id .= ($segment>1)?"_$segment":'';

    if ($segment>1) {
    $media_url = "/radio/export/{embed:media_source}_{embed:media_date}_$segment.mp3";
    } else {
    $media_url = "/radio/export/{embed:media_source}_{embed:media_date}.mp3";
    }
    ?>

    <div class="col-lg-<?=$span_width?>">

        <audio class="mejs-player" style="width:280px; margin-top:15px;" id="<?=$media_id?>" data-mejsoptions='{"audioWidth:": 280}' controls="controls" preload="none">
            <source src="<?=$media_url?>" type="audio/mpeg" />
        </audio>


        <div style="margin-top:5px; margin-bottom:10px;"><?=$broadcast_date_str?>, part <?=$segment?> of <?=$segments?>.
            <br/>
            Download mp3 <span style="font-size:16px;">&raquo;</span>
            <a href ="{exp:tna_utils:get_media_url segment='<?=$segment?>' media_date='{embed:media_date}' media_source='{embed:media_source}'}">click here</a>

        </div>

    </div>

    <?php
  }
?>


</div>

