<div class="right_col">


<!-- Begin eWAY Linking Code -->
<div id="eWAYBlock">
    <div style="text-align:center;">
        <a href="http://www.eway.com.au/secure-site-seal?i=12&s=3&pid=5b047c21-20f1-4f1e-8bd0-8ea59991c14f" title="eWAY Payment Gateway" target="_blank" rel="nofollow">
            <img alt="eWAY Payment Gateway" src="https://www.eway.com.au/developer/payment-code/verified-seal.ashx?img=12&size=3&pid=5b047c21-20f1-4f1e-8bd0-8ea59991c14f" />
        </a>
    </div>
</div>
<!-- End eWAY Linking Code -->

<div class="right_col_subscribe">
    <p><strong>If you purchase a 12 month subscription you will receive this unique TNRA T-shirt and a DVD with resources for info-warriors at no extra cost!</strong></p>

    <div class='rss_subscribe'>

      <img style="border:1px solid black;" src="{site_url}storage/images/framework/t_shirt_leah_small.jpg" alt="RSS feed icon"/>

    </div>
</div>

</div>