<div class="right_col">
{!--
<div class="right_col_sign_in_snippet">
  {embed=sign-in/sign_in_snippet}
</div>
--}

{embed=framework_2/search_simple id="search2" form_class="form-inline right_col_simple_search visible-sm"}



<div class='rss_subscribe'>
  <a href="{site_url}web/feeds">
  <img height="56" width="298" style="border:1px solid #672b02;" src="{site_url}storage/images/framework/get_our_rss_feed.jpg" alt="RSS feed icon"/>
  </a>
</div>

{!--
{embed="framework_2/subscribe_now_small"}
--}

{embed="framework_2/listen_banner_2"}


 <div class="twitter_right_col">
    <a class="twitter-timeline"  href="https://twitter.com/truthnewsoz"  data-widget-id="374428569352413184">Tweets by @truthnewsoz</a>
</div>

{embed=framework_2/recent_comments}

{embed=ad_zones/facebook}


<div class="archives">
<h3>Archives</h3>
{exp:channel:month_links channel="tna|tna_news|911oz" limit="50"}
<a href="{path='archives/all'}">{month}, {year}</a><br />
{/exp:channel:month_links}

</div>
{!--
{embed=ad_zones/tnra_01}
--}

{embed=framework_2/channel_categories}

</div>