{embed ="framework_2/doc_head" title="Contact Truth News Australia"}
{embed="framework_2/navigation" section="home"}

<div class="container main_box">
    {embed="framework_2/header"}

    <div class="row">
        <div class="col-md-9 col-lg-8">
            <div class="news_channel_container">
                {exp:email:contact_form user_recipients="false" recipients="editor@truthnews.com.au" charset="utf-8"}

                <h3 class="recent_shows">Contact Form</h3>

                <div class="form-group">
                    <label for="from">Email address</label>
                    <input type="email" class="form-control" name="from" id="from" placeholder="Enter email" value="{member_email}">
                </div>

                <div class="form-group">
                    <label for="from">Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Truth News Enquiry" value="Truth News Enquiry">                </div>

                <div class="form-group">
                    <label for="from">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="18"></textarea>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>
                {/exp:email:contact_form}

                {!-- <h2 style="margin-top:20px;">Skype</h2> --}
                <h3 style="margin-top:20px;" class="recent_shows">Skype Contact</h3>

                <p><strong>truthnewsradio</strong> <br/>
                    <strong>email:</strong> {embed=framework/email_mask name="editor" domain="truthnews.com.au"} <br/>
                </p>
            </div>
        </div>

        <div class="col-md-3 col-lg-4">{embed="framework_2/right_col"}</div>
    </div> <!-- /row -->

    {embed="framework_2/footer"}

</div> <!-- /container -->

{embed ="framework_2/doc_foot"}